
<img src="https://media.istockphoto.com/photos/abstract-blur-contemporary-office-interior-blue-background-concept-picture-id1024815722?k=6&m=1024815722&s=170667a&w=0&h=79XHZWAlgpT6i1g5zRIurGo_sRXoxgQmEt9BtgQ7u0w="  style="height: 90%; width: 100%; filter: blur(2px);-webkit-filter: blur(2px);"> 
<div class="centered background">
    <h2 style=" font-size: xxx-large; font-weight: 700;padding: 30px; font-family:Georgia, 'Times New Roman', Times, serif; text-shadow: 10px 10px 10px;">SALES FORECASTING</h2>
	<button class="button" style="margin-left: 25%; margin-bottom: 20%;" routerLink="/register">Register</button>
	<button class="button" style="margin-left: 53px; margin-top: 20%; " routerLink="/login">Login</button>

</div>